<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | Triangle</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/dynamic/index">
                    <h1><img src="/static/images/home/logo6.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="inform.html ">내 정보</a></li>
                    <li class="active"><a href="computer.html ">서버 사용량</a></li>
                    <% if (session.getAttribute("id") == null) { %>
                    <li><a data-toggle="modal" data-target="#show_login">LOGIN</a></li>
                    <%} else { %>
                    <form action="logout" method="post">
                        <li><a href="process_logout.html">Logout</a></li>
                    </form>

                    <%} %>
                    <!--<%= session.getAttribute("id") %>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="show_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Log in</h4>
                </div> <!-- /.modal-header -->

                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="uLogin" placeholder="Login">
                                <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                            </div>
                        </div> <!-- /.form-group -->

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" id="uPassword" placeholder="Password">
                                <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                            </div> <!-- /.input-group -->
                        </div> <!-- /.form-group -->

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div> <!-- /.checkbox -->
                    </form>

                </div> <!-- /.modal-body -->

                <div class="modal-footer">
                    <button class="form-control btn btn-primary">Ok</button>

                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1"
                             aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">progress</span>
                        </div>
                    </div>
                </div> <!-- /.modal-footer -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">서버 사용량</h1>
                        <p>서버의 cpu사용량을 체크합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>실시간 사용량</h2>
                        <div class="box-icon">
                            <a href="charts-flot.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                            <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div id="realtimechart" style="height: 190px; padding: 0px; position: relative;">
                            <canvas class="flot-base" width="1071" height="190"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1071px; height: 190px;"></canvas>
                            <div class="flot-text"
                                 style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                     style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 174px; left: 14px; text-align: right;">0
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 131px; left: 7px; text-align: right;">25
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 87px; left: 7px; text-align: right;">50
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 44px; left: 7px; text-align: right;">75
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 0px; left: 0px; text-align: right;">100
                                    </div>
                                </div>
                            </div>
                            <canvas class="flot-overlay" width="1071" height="190"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1071px; height: 190px;"></canvas>
                        </div>
                        <p>서버1의 i7에 대한 cpu 사용량입니다.</p>
                        <!--<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>-->
                    </div>
                </div>
            </div><!--/col-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>실시간 사용량</h2>
                        <div class="box-icon">
                            <a href="charts-flot.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                            <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div id="realtimechart2" style="height: 190px; padding: 0px; position: relative;">
                            <canvas class="flot-base" width="1071" height="190"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1071px; height: 190px;"></canvas>
                            <div class="flot-text"
                                 style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                     style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 174px; left: 14px; text-align: right;">0
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 131px; left: 7px; text-align: right;">25
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 87px; left: 7px; text-align: right;">50
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 44px; left: 7px; text-align: right;">75
                                    </div>
                                    <div class="flot-tick-label tickLabel"
                                         style="position: absolute; top: 0px; left: 0px; text-align: right;">100
                                    </div>
                                </div>
                            </div>
                            <canvas class="flot-overlay" width="1071" height="190"
                                    style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1071px; height: 190px;"></canvas>
                        </div>
                        <p>서버1의 i7에 대한 cpu 사용량입니다.</p>
                        <!--<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>-->
                    </div>
                </div>
            </div><!--/col-->
        </div>
    </div>
</section>
<!--/#about-company-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/static/images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/static/images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.
                            </blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/static/images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison
                                eiusmod.
                            </blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>

                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br>
                        Feeder Road, <br>
                        Bristol, BS2 0UY <br>
                        United Kingdom <br>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required"
                                   placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                      placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>Crafted by <a target="_blank" href="http://designscrazed.org/">Allie</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.countTo.js"></script>
<!--<script type="text/javascript" src="/static/js/main.js"></script>-->
<script type="text/javascript" src="/static/js/charts/charts-flot.js"></script>
<script src="/static/js/charts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/charts/jquery.sparkline.min.js"></script>
<!--[if lte IE 8]>
<script language="javascript" type="text/javascript" src="/static/js/charts/excanvas.min.js"></script><![endif]-->
<script src="/static/js/charts/jquery.flot.min.js"></script>
<script src="/static/js/charts/jquery.flot.pie.min.js"></script>
<script src="/static/js/charts/jquery.flot.stack.min.js"></script>
<script src="/static/js/charts/jquery.flot.resize.min.js"></script>
<script src="/static/js/charts/jquery.flot.time.min.js"></script>

<!-- theme scripts -->
<!--<script src="/static/js/charts/custom.min.js"></script>-->
<script src="/static/js/charts/core.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/static/js/charts/charts-flot.js"></script>

</body>
</html>
